<a href="https://colab.research.google.com/github/TessyWangari/42-Silicon-Valley/blob/master/Module%200/Session%203/m0s3nb1_tuples_range.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sequences:  Tuples and Range Objects

### Sequence Types in Python

#### Sequences are containers with items stored in a deterministic ordering. The individual items can be addressed by their position within the sequence.

#### Each sequence data type comes with its unique capabilities. `Tuples`, `ranges`, `lists`, and `strings` are all sequence types. We covered strings last session, and we will be covering the other three in this session.

While we are going to also be covering `sets` in this session, a `set` is not a sequence in Python. This is because sets in Python ARE NOT ordered. We will see more on this when we cover `sets` in detail.

#### Sequence Type documentation link:  https://docs.python.org/3/library/stdtypes.html#typesseq

#### Sequences types can be either mutable or immutable.

Tuples and range objects are immutable.

Lists are mutable.

#### Sequences support operations which are common across the different types of sequences, for both mutable and immutable types. You will use most all of these operations in the class, either in homework notebooks or exams.

The screen shot below is from the Python documentation (link above). These common operations can be done on both mutable (`lists`) and immutable (`tuples`, `ranges`, `strings`) sequence types. We will demonstrate some of them in the session today.

![seq_ops.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%203/seq_ops.png?raw=1)

### Now let's look at `tuples`.

In Python, a tuple is a built-in data type that allows you to create immutable sequences of values. The values or items in a tuple can be of any type. This makes tuples pretty useful in those situations where you need to store heterogeneous data, like that in a database record, for example.

#### Tuple documentation link:  https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

#### Some good pages on tuples:  

https://www.geeksforgeeks.org/tuples-in-python/

https://www.w3schools.com/python/python_tuples.asp

https://realpython.com/python-tuple/

### Tuples have the following properties, relevant to our use in the class:

**Ordered**: They contain elements that are sequentially arranged according to their specific insertion order.

**Indexable through a zero-based index**: They allow you to access their elements by integer indices that start from zero.

**Immutable**: They don’t support in-place mutations or changes to their contained elements. They don’t support growing or shrinking operations.

**Heterogeneous**: They can store objects of different data types and domains, including mutable objects.

**Nestable**: They can contain other tuples, so you can have tuples of tuples.

**Iterable**: They support iteration, so you can traverse them using a loop or comprehension while you perform operations with each of their elements.

**Sliceable**: They support slicing operations, meaning that you can extract a series of elements from a tuple.

**Combinable**: They support concatenation operations, so you can combine two or more tuples using the concatenation operators, which creates a new tuple.

**Hashable**: They can work as keys in dictionaries when all the tuple items are immutable.

### So let's look at some examples.

In [1]:
# note the different data types
tuple_1 = ("CSE6040", 29, 15.4, True)

display(type(tuple_1))

tuple

In [2]:
# addressing elements of a tuple
display(tuple_1[0])
display(tuple_1[3])

'CSE6040'

True

In [ ]:
# tuples are immutable
# commented out to prevent error
# uncomment to show
# tuple_1[0] = "ISYE6501"

In [16]:
display(tuple_1[0:5:3])

('CSE6040', True)

In [3]:
# slicing notation for a tuple
display(tuple_1[:2])
display(tuple_1[0:5:2])

('CSE6040', 29)

('CSE6040', 15.4)

In [17]:
# length operation
display(len(tuple_1))

4

In [18]:
# tuples can be nested
tuple_2 = ("CSE6040", 29, 15.4, True,("ISYE6501","MGT8803"))

In [19]:
display(tuple_2[4])
display(type(tuple_2[4]))

('ISYE6501', 'MGT8803')

tuple

In [20]:
# nested tuples can hold other data types in their nesting
tuple_3 = ("CSE6040", 29, 15.4, True,("ISYE6501","MGT8803"),[33,44,55])
display(tuple_3[5])
display(type(tuple_3[5]))

[33, 44, 55]

list

One last note on tuples and immutability.

Tuples are immutable, but if you store a mutable object within a tuple, then you can change that object within the tuple. The tuple will not let you change that element of the tuple to something different, but you can change the object elements themselves.

This is not a tuple capability that we will be requiring you to do in this class, but we show it simply for completeness of functionality.

Also, the example addresses nested data elements and uses nesting syntax, which we will cover in detail in the next notebook on lists, so don't worry about picking it up yet.

See this example.

In [21]:
# nested tuples can hold other data types in their nesting
tuple_4 = ("CSE6040", 29, 15.4, True,("ISYE6501","MGT8803"),[33,44,55])
display(tuple_4[5])
display(tuple_4[5][2])

[33, 44, 55]

55

In [22]:
tuple_4[5][0]=22
display(tuple_4[5])

[22, 44, 55]

In [ ]:
# change the value of the 3rd item in the list
tuple_4[5][2] = 66
display(tuple_4[5])

#### What are your questions on tuples?

### Range Objects

#### The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

Range objects are typically used in looping operations.

The `range()` syntax is:  range(start, stop, step). The `start` and `step` parameters are optional. If not specified, `start` will be 0 and `step` will be 1.

#### Range object documentation links:  https://docs.python.org/3/library/stdtypes.html#ranges

https://docs.python.org/3/library/functions.html#func-range

In [23]:
range_1 = range(5)
display(range_1)

range(0, 5)

In [24]:
for number in range_1:
    print(number)

0
1
2
3
4

In [25]:
range_2 = range(0,10,2)
display(range_2)

range(0, 10, 2)

In [26]:
for number in range_2:
    print(number)

0
2
4
6
8

#### Ranges are useful for looping over iterable objects. And this is how you will generally use range objects in this class.

Recall the variable `tuple_3` from above.

In [27]:
display(tuple_3)

('CSE6040', 29, 15.4, True, ('ISYE6501', 'MGT8803'), [33, 44, 55])

In [31]:
# what is the length of the tuple?
display(len(tuple_3))

6

In [34]:
for item in range ( en(tuple_3)):
  print(tuple_3[item])

CSE6040
29
15.4
True
('ISYE6501', 'MGT8803')
[33, 44, 55]

In [30]:
# loop over the items in the tuple using a range object
for item in range(len(tuple_3)):
# so the line of code is equivalent to this one
# for item in range(6):
    print(item)
    print(tuple_3[item])
    print('\n')

0
CSE6040


1
29


2
15.4


3
True


4
('ISYE6501', 'MGT8803')


5
[33, 44, 55]

#### What are your questions on range objects?